mixin social(type, title, url, colour)
  a.social(href=url,style='color:'+colour,title=title,target='_blank',rel='noopener')
    i.fab(class='fa-'+type)
mixin social-s(type, title, url, colour)
  a.social(href=url,style='color:'+colour,title=title,target='_blank',rel='noopener')
    i.fas(class='fa-'+type)
mixin pump(url, colour)
  a.social-pump(href=url,style='color:'+colour,title='Pump.io',target='_blank',rel='noopener')
    img(src='https://camo.githubusercontent.com/6b7a0595dd312feaba6088f3cde40caad590b356/687474703a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f636f6d6d6f6e732f622f62642f50756d702e696f2d6c6f676f2e737667')
mixin social-no(type, title, url, colour)
  a.social(href=url,style='color:'+colour,target='_blank',rel='noopener')
    i.fab(class='fa-'+type)